In [1]:
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
df=pd.read_csv("E:/Salary_Data.csv")

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
df.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [5]:
model=smf.ols("Salary~YearsExperience" ,data=df).fit()

In [6]:
model.params

Intercept          25792.200199
YearsExperience     9449.962321
dtype: float64

In [7]:
model.pvalues

Intercept          5.511950e-12
YearsExperience    1.143068e-20
dtype: float64

In [10]:
(model.rsquared , model.rsquared_adj)

(0.9569566641435086, 0.9554194021486339)

In [11]:
#checking the model

df1=pd.DataFrame([1.5 , 2.0],columns=['YearsExperience'])

In [12]:
model.predict(df1)

0    39967.143681
1    44692.124842
dtype: float64